<div>
  <div>
    <nav-bar></nav-bar>
  </div>
  <div>
    <landing-content-card
      title="Bienvenido a Coral Talk ¿Listo para conquistar el inglés?"
      description="Descubre una nueva forma de aprender inglés, diseñada para jovenes como tú. ¡Mejora tu inglés con confianza abre puertas a nuevas oportunidades!"
      image="https://media.istockphoto.com/id/1124667660/es/foto/int%C3%A9rprete-de-chica-feliz-en-auricular-escribir-notas-estudio-port%C3%A1til.jpg?s=612x612&w=0&k=20&c=hgyp8A-gHrtKU4ZVcyjf2LQcWcc4PmZG54LUtm1iaKk="
      imageClass="rounded rounded-tl-3xl rounded-br-3xl"
    ></landing-content-card>
  </div>
  <div>
    <landing-content-card
      reversed
      title="Coral Talk: Tu espacio para aprender inglés con confianza."
      description="Somos una plataforma web diseñada para que jovenes como tú puedan aprender inglés de manera sencilla y divertida.
      <br /><br /> Ofrecemos recursos interactivos para practicar tus habilidades de speaking, listening, reading y writing,
      conecta con hablantes nativos y forma parte de una comunidad de apoyo que te ayudará a alcanzar tus metas."
      image="https://media.istockphoto.com/id/911030098/es/foto/discutiendo-la-soluci%C3%B3n.jpg?s=612x612&w=0&k=20&c=K7r8fnsh3Rd2AtZSsOVc8VSIbpYU8GF7XqGTfbnm1Oo="
      imageClass="rounded rounded-tr-3xl rounded-bl-3xl"
    ></landing-content-card>
  </div>
  <div>
    <landing-footer-card></landing-footer-card>
  </div>
</div>
