<div class="w-screen h-screen flex flex-col bg-indigo-500">
  <div class="flex flex-col items-center justify-center h-full space-y-4">
    <h1 class="text-9xl text-white font-bold">404</h1>
    <div class="flex flex-col items-center">
      <h2 class="text-2xl text-white">Oops! That page can’t be found</h2>
      <h2 class="text-lg text-gray-200">
        The page you are looking for it maybe deleted
      </h2>
    </div>
    <button
      class="text-white border-solid border border-white rounded hover:border-gray-300 transition-colors duration-150 p-2"
      type="button"
      routerLink="/"
    >
      Go to Home
    </button>
  </div>
</div>
